<header class="site-header">
    <a class="site-title" href="/">asxp.io</a>
    <nav>
        <a href="https://blog.asxp.io">blog</a>
        <a href="/keys" class="<%= 'active' if request.path == '/keys' %>">keys</a>
        <a href="/contact" class="<%= 'active' if request.path == '/contact' %>">contact</a>
    </nav>
</header>
