<%== erb :'partials/_site_nav', layout: false %>

<section class="section">
    <div class="key-block">
        <div class="key-head">
            <span class="key-label">PGP</span>
            <a class="key-file" href="/pgp.pub" download>pgp.pub &#8595;</a>
        </div>
        <pre data-copy="85F7AFEDAB7D97BE667F99F24F8851660FA4121B">85F7 AFED AB7D 97BE 667F  99F2 4F88 5166 0FA4 121B</pre>
    </div>

    <div class="key-block">
        <div class="key-head">
            <span class="key-label">SSH</span>
            <a class="key-file" href="/id_ed25519.pub" download>id_ed25519.pub &#8595;</a>
        </div>
        <pre data-copy="ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMZ+/5F7SxdTVW47iiStLpGK77oWfR5NgaK4tTSR/aVB ie+2026@asxp.io">ssh-ed25519 AAAA&#8230;R/aVB ie+2026@asxp.io</pre>
    </div>
</section>

<script src="/copy.js"></script>
