<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>IE Sergei Poljanski</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
        <link rel="icon" type="image/png" href="/hedgehog.png" sizes="32x32" />
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <main>
            <%== yield %>
        </main>

        <div class="footer">
            IE Sergei Poljanski · Tbilisi, Georgia · ID 304813343
        </div>
    </body>
</html>
