<div class="header">
    <h1>Thanks! Your message is on its way.</h1>
    <span class="ka">A confirmation copy has been sent to your inbox.</span>
</div>

<section class="section">
    <p>I'll get back to you as soon as possible. If you don't hear back within a few days, feel free to reach out directly:</p>
    <dl class="kv">
        <dt>Email</dt><dd><a href="mailto:ie@asxp.io">ie@asxp.io</a></dd>
        <dt>Telegram</dt><dd><a href="https://t.me/ie_asxpi">t.me/ie_asxpi</a></dd>
    </dl>
    <p><a href="/">← Back to the front page</a></p>
</section>
